<!DOCTYPE html>
<html>

<head>

    <title>Preguntas para los Virgenes de la Cueva</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>

<!-- LOGIN -->
<div id="login-container">

    <h1>Quiz Game</h1>

    <input 
        type="text" 
        id="nickname" 
        placeholder="Enter your nickname"
    >

    <button onclick="login()">Start Game</button>

</div>

<!-- QUIZ -->
<div id="quiz-container" style="display:none;">

    <h2 id="question">Loading...</h2>

    <div id="options"></div>

    <br>

    <button onclick="nextQuestion()">Siguiente</button>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="/static/script.js"></script>

</body>

</html>